<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/pico.pink.min.css">
    <title>Тест: кто ты из k-on!</title>
</head>
<body>
    <div style="width: auto; height: auto; margin: 10% 5% 0%;">
        <center><img height=50% width=50% src="static/pngs/{{#if win}}happy.png{{else}}sad.png{{/if}}"</center>
	</div>
	<br>
	<center><h1>{{#if win}}Поздравляю! По результатам теста вы - Гитара Мио!{{else}}Тест завершен. По его результатам вы - не Гитара Мио{{/if}}<center>
<body>

