<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/pico.pink.min.css">
	<title>Тест: Кто ты из k-on!</title>
</head>
<body>
	<div>	
		<div style="width: auto; height: auto; margin: 5% 0% 0%;">
			<center><img src="static/pngs/start.png" height=50% width=50%/img></center>
		</div>
		<br>
		<form method="GET" action="question/0">
			<div style="width: auto; height: auto; margin: 5% 30%;">
				<center><button type="submit" height=50% width=50% margin=50% title="Начать тест">Старт</button></center>
			<div>
		</form>
	<div>
</main>
</body>
</html>
